.info__form {
  max-width: 1221px;
  background: linear-gradient(0deg, #080608, #080608),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 37px 100px 43px rgba(0, 0, 0, 0.01),
    21px 56px 36px rgba(0, 0, 0, 0.05), 9px 25px 27px rgba(0, 0, 0, 0.09),
    2px 6px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-family: "Montserrat";
}
.form__title {
  padding-top: 26px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}
.info-from__field {
  margin: 19px 0 0 24px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  max-width: 1114px;
  display: flex;
  align-items: center;
}

.form__input {
  margin-top: 7px;
  width: 238px;
  border: none;
  background: linear-gradient(0deg, #080608, #080608),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border-bottom: 2px solid #cacaca;
  padding: 0 0 4px 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #cacaca;
}
.form__input:focus{
  color: #000000;
}
.form__input.special:focus{
  color: #cacaca;
}
.form__input.validate {
  border-bottom: 1px solid red;
  color: red;
}
.form__input.validate::-webkit-input-placeholder {
  color: red;
}
.form__input.validate::-moz-placeholder {
  color: red;
}
.form__input.validate:-moz-placeholder {
  color: red;
}
.form__input.validate:-ms-input-placeholder {
  color: red;
}
.form__input::-webkit-input-placeholder {
  color: #CACACA;
}
.form__input::-moz-placeholder {
  color: #CACACA;
}
.form__input:-moz-placeholder {
  color: #CACACA;
}
.form__input:-ms-input-placeholder {
  color: #CACACA;
}

.form__input-phone {
  width: 253px;
  margin: 7px 22px 0px 18px;
  background: url("../img/form/phone.svg") 0 50% no-repeat;
}
.form__input-city {
  background: url("../img/form/nav.svg") 0 50% no-repeat;
}
.form__input-email {
  margin: 7px 22px 0px 18px;
}
.form__input-name {
  margin: 7px 21px 0 18px;
  background: url("../img/form/User.svg") 0 50% no-repeat;
}
.form__input-email {
  background: url("../img/form/email.svg") 0 50% no-repeat;
}
.form__btn {
  width: 310px;
  height: 77px;
  background: #257fe7;
  box-shadow: 0px 3px 0px #0f4889, inset -2px 2px 0px rgba(124, 185, 255, 0.4);
  border-radius: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 1160px) {
  .form__field {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }
  .form__input {
    margin-top: 30px;
  }
  .form__input-phone {
    width: 238px;
  }
  .form__btn {
    margin: 15px 0 10px 0;
  }
}
.form__policy {
  margin-top: 25px;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #cacaca;
}
.politicy {
  cursor: pointer;
  text-decoration: underline;
}
.politicy:hover{
  text-decoration: none;
}